<div class="pagetitle">
    <h1> {{this.title}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">{{this.title}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">les constats</h5>
            <p>Vous trouverez ci-dessous toutes les constats <strong>rédigés</strong> </p>
                <table class="table datatable" id="myTable">
                  <thead>    
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">code_barre</th>
                      <th scope="col">date_apparition</th>
                      <th scope="col">explication_panne</th>
                      <th scope="col">frequence</th>
                      <th scope="col">ordre</th>
                      <th scope="col">opération</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let constat of constats;let i =index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{constat.code_barre}}</td>
                      <td>{{constat.date_apparition}}</td>
                      <td>{{constat.explication_panne}}</td>
                      <td>{{constat.frequence}}</td>
                      <td>{{constat.ordre}}</td>
                      <td> 
                        <button class="btn btn-warning"
                          >En panne </button>
                          <a routerLink="#" ><button type="button" class="btn btn-info">Rédiger constat</button>
                          </a>
                      </td>
                    </tr>   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <!-- End Table with stripped rows -->
  
          </div>
  </section>
  