<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="./">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
      <li class="nav-item">
       
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./consulterBesoin"> 
          <i  class="bi bi-menu-button-wide" ></i><span>Consulter Les Besoins</span>
       </a>
       <!--<a class="nav-link" href="responsable/consulterBesoin">
        <i class="bi bi-file-earmark-plus"></i>
        <span>Ajouter besoin</span>
      </a>-->
      </li><li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./EnregistrerMat">
          <i class="bi bi-file-earmark-plus"></i>
          <span>Enregistrer Materiales</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./gestionRessources">
          <i class="bi bi-gear"></i>
          <span>Gestion des  Materiales</span>
        </a>
      </li>
      <li class="nav-item">
       <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./fournisseurs"> 
          <i  class="bi bi-layout-text-window-reverse" ></i><span>Gestion Fournisseurs</span>
       </a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./listenoir"> 
           <i  class="bi bi-layout-text-window-reverse" ></i><span>Gestion Liste Noir</span>
        </a>
         
       </li>
       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./compte"> 
           <i  class="bi bi-layout-text-window-reverse" ></i><span>Gestion des comptes</span>
        </a>         
       </li>
       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="./gestionPannes"> 
           <i  class="bi bi-layout-text-window-reverse" ></i><span>Gestion des pannes</span>
        </a>
       
       <li class="nav-heading">Pages</li>

     
      
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="./">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      

      
      
      
    </ul>

  </aside><!-- End Sidebar-->
