<section class="section">
  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">J'ajoute un Compte</h5>
          <p>Cet espace pour ajouter les comptes</p>

          <div *ngIf="admin">
            <label for="validationDefault04" class="form-label">Type de compte</label>
          <select (change)="onOptionSelected($event.target)" class="form-select" id="validationDefault04" required>
            <option selected value=2>Compte Technicien</option>
            <option value=1>Compte Chef Departement</option>
          </select>
          </div>

          <form class="row g-3">
            <div *ngIf="succes == 1" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Compte</strong> ajoute avec succes .
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div *ngIf="succes == 2" class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Compte</strong> modifie avec succes .
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          
            <div *ngIf="succes == 3" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Probleme !</strong> dans l'ajout de compte.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="succes == 4" class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Compte</strong> supprimer avec succes .
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          
            <div *ngIf="succes == 5" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Probleme !</strong> dans la suppression du compte.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div></div>

            <div class="col-12" *ngIf="showEns">             
              <label for="dept" class="form-label">Departement</label><span>&nbsp;</span>
              <div class="input-group has-validation">
                <select (change)="onOptionDeptSelected($event.target)" class="form-select" id="validationDefault04" required>
                  <option selected value="Informatique">Informatique</option>
                  <option value="Mecanique">Mecanique</option>
                  <option value="Electrique">Electrique</option>
                </select>
              </div>
            </div>
          
            <div class="col-6">
              <label for="Username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" name="login" value="{{compte.login}}" [(ngModel)]="compte.login" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <label for="Nom" class="form-label">Nom</label>
              <div class="input-group has-validation">
                <input type="text" name="nom" value="{{compte.nom}}" [(ngModel)]="compte.nom" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <label for="Prenom" class="form-label">Prenom</label>
              <div class="input-group has-validation">
                <input type="text" name="prenom" value="{{compte.prenom}}" [(ngModel)]="compte.prenom" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <label for="Telephone" class="form-label">Telephone</label>
              <div class="input-group has-validation">
                <input type="tel" name="telephone" value="{{compte.telephone}}" [(ngModel)]="compte.telephone" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <label for="Password" class="form-label">Password</label>
              <div class="input-group has-validation">
                <input type="password" name="password" value="{{compte.password}}" [(ngModel)]="compte.password" class="form-control" />
              </div>
            </div>
            <div class="col-12">
                <button *ngIf="!editMode"(click)="createCompte()" class="btn btn-primary" type="submit">
                  Enregister Compte
                </button><span class="mx-1"></span>
                <button *ngIf="editMode" (click)="editCompte()" class="btn btn-primary" type="submit">
                  Modifier Compte
                </button><span>&nbsp;</span>
                <button (click)="annuler()" class="btn btn-primary" type="submit">
                  Annuler
                </button>
              </div>
          </form>
          
        </div>
        <!-- End add form -->
      </div>
    </div>
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gestion des comptes</h5>

          <!-- data table -->
         <div>
          <table *ngIf="admin && showEns" class="table datatable" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <!--<th scope="col">Role</th>-->
                <th scope="col">Departement</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of comptesChef; let i = index">
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.departement }}</td>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom }}</td>
                <td>
                  <button class="btn btn-primary" (click)="getCompte(c)">
                    <i class="bi bi-pencil-square"></i></button><span>&nbsp;</span>
                    <button class="btn btn-warning"
                    (click)="confirmerDeleteCompte(c.nom + ' ' + c.prenom, c.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
            <table *ngIf="admin && !showEns" class="table datatable" id="myTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of comptesTech; let i = index">
                  <th scope="row">{{ c.id }}</th>
                  <td>{{ c.nom }}</td>
                  <td>{{ c.prenom }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="getCompte(c)">
                      <i class="bi bi-pencil-square"></i></button><span>&nbsp;</span>
                      <button class="btn btn-warning"
                      (click)="confirmerDeleteCompte(c.nom + ' ' + c.prenom, c.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
         </div>
          <table *ngIf="!admin" class="table datatable" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <!--<th scope="col">Role</th>-->
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of comptesEns; let i = index">
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom }}</td>
                <td>
                  <button class="btn btn-primary" (click)="getCompte(c)">
                    <i class="bi bi-pencil-square"></i></button><span>&nbsp;</span>
                    <button class="btn btn-warning"
                    (click)="confirmerDeleteCompte(c.nom + ' ' + c.prenom, c.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End data table -->
        </div>
      </div>
    </div>
  </div>
</section>