<main id="main" class="main">

  <div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">EnregistrerMatérielles</li>
        
      </ol>
    </nav>
  </div>
 
 
  <div *ngIf="imprimantes.length == 0  && ordinateur.length==0" style="margin-top: 20px;margin-left: 200px;font-size: 30px;font-style: italic;" >
    <p >Aucune Ressource a ajouter.</p>
  </div> 
 <div *ngIf="imprimantes.length > 0  || ordinateur.length>0">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Liste Matérielles</h5>
              <div class="datatable-top">
               
                <div class="datatable-search">
                        <input class="datatable-input" placeholder="Search..." type="search" title="Search within table"id="myInput" (keyup)="myFunction()">
                    </div>
            </div>
              <!-- Table with stripped rows -->
              
              <table class="table datatable" id="myTable" >
                <thead>
                  <tr>
                    <th> <input class="form-check-input" type="checkbox" id="selectAll" (change)="toggleSelectAll($event)"></th>
                    <th scope="col">Code Bare</th>
                    <th scope="col">Material</th>
                    <th scope="col">Description</th>
      
      
                    <th scope="col">Duree de Garantie</th>
                    <th scope="col">Date de laivraison</th>
                    <th scope="col">Fournisseur</th>
      
      
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let imp of imprimantes;let i = index" >
                    <td>    <input class="form-check-input"
                      type="checkbox" id="gridCheck1"
                      (change)="genererListF(imp)"></td>
                    <td>{{ imp.code_barre}}</td>
                    <td>Impriment</td>
                    <td>Vetesse:{{ imp.vitesse }}<br>Resolution:{{imp.resolution}}<br>Prix:{{ imp.prix }} DH<br>
                   Marque:hp </td>
      
      
                    <td>{{ imp.dureegarantie }} <span *ngIf="imp.dureegarantie">ans</span></td>
                    <td>{{ imp.datelivraison|  date:'yyyy-mmm-dd'}}</td>
      
                    <td>{{ imp.fournissuer}} </td>
                    <td ><button  class="btn btn-primary" (click)="afficherModele1(i)">Modifier</button>
                     
                  </tr>
                  <tr *ngFor="let imp of ordinateur;let i = index" >
                    <td>    <input class="form-check-input"
                      type="checkbox" id="gridCheck1"
                      (change)="genererListFor(imp)"></td>
      
                    <td>{{ imp.code_barre}}<br> </td>
                    <!-- <td><img [src]="imp.code_barre_img"></td> -->
                    <td>Ordinateur</td>
                    <td>CPU:{{ imp.cpu}}<br>Disque:{{imp.disque}}<br>Ram:{{imp.ram}}<br>Ecran:{{imp.ecran}}<br>
                    Marque:{{imp.marque}} <br>Prix:{{imp.prix}} DH</td>
      
                    <td>{{ imp.dureegarantie }} <span *ngIf="imp.dureegarantie">ans</span></td>
                    <td>{{ imp.datelivraison|  date:'yyyy-mm-dd'}}</td>
      
                    <td>{{ imp.fournissuer}} </td>
      
                    <td><button class="btn btn-primary" (click)="afficherModele1(i)" >Modifier</button>
                    </tr>
                </tbody>
              </table><nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
              <!-- End Table with stripped rows -->
              
            </div>
          </div>

        </div>
      </div>
      
      <div style="position: absolute; right: 50px;background-color: rgba(0, 0, 0, 0.5); ">
        <div class="modal fade show"  *ngIf="edit"  tabindex="-1" aria-modal="true" role="dialog" style="display: block;background-color:rgba(0, 0, 0, 0.5); ">
          <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content" >
              <div class="modal-header">
                <h5 class="modal-title">Ajouter les Ressources</h5>
                <button (click)="cacherModele()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     </div>
                <div class="modal-body">
                  <form class="row g-3">

                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Date de lavraison</label>
                      <input type="date" class="form-control" id="inputEmail4" #ref2>
                    </div>
                    <div class="col-12">
                      <label for="inputPassword4" class="form-label">Dure de garantie</label>
                      <input type="number" class="form-control" id="inputPassword4" placeholder="2 ans" #ref1>
                    </div>
                  </form>
                </div>
              <div class="modal-footer">
                <button (click)="initialiser(ref1,ref2)" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button  type="button" class="btn btn-primary" (click)="getIndice(ref1,ref2)">Enregistrer</button>
              </div>
            </div>
          </div>
        </div>


          </div>

              <!-- confirmer la generation d'apple d'offre-->

          <!-- End Basic Modal-->
        <div style="position: absolute; right: 50px;background-color: rgba(0, 0, 0, 0.5); ">
          <div class="modal fade show"  *ngIf="modeleAppeleOffre"  tabindex="-1" aria-modal="true" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Les Materiales</h5>
                  <button (click)="cacherModele1()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     </div>
                  <div class="modal-body">
                    Voulez  vous varaiment Ajouter Les Ressources
                  </div>
                <div class="modal-footer">
                  <button (click)="cacherModele1()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button  type="button" class="btn btn-primary" (click)="afficherModele3()">Ajouter</button>
                </div>
              </div>
            </div>
          </div>


            </div>

            <div style="position: absolute; right: 50px;background-color: rgba(0, 0, 0, 0.5); ">
              <div class="modal fade show"  *ngIf="modeleGenerationSucces"  tabindex="-1" aria-modal="true" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Les Ressources</h5>
                      <button (click)="cacherModele3()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                      <div class="modal-body">
                        Les Ressources sont ajouter avec succes.
                      </div>

                  </div>
                </div>
              </div>


                </div>


                <div style="position: absolute; right: 50px;background-color: rgba(0, 0, 0, 0.5); ">
                  <div class="modal fade show"  *ngIf="sauvgerderEchec"  tabindex="-1" aria-modal="true" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Les Materiales</h5>
                          <button (click)="cacherModele4()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>     </div>
                          <div class="modal-body">
                           Remplire tous les Champs .
                          </div>

                      </div>
                    </div>
                  </div>
</div>



</section>
<br><br>
<div class="modal-footer">
<button class="btn btn-primary" (click)="EnregistrerMat()" type="button"  >Ajouter</button>
</div>

<div style="position: absolute; right: 50px;background-color: rgba(0, 0, 0, 0.5); ">
<div class="modal fade show"  *ngIf="test1"  tabindex="-1" aria-modal="true" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5);">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title">Apple d'offre</h5>
  <button (click)=" cacherModele8()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
  <div class="modal-body">
    <p>Aucun élément sélectionné.</p>
  </div>

</div>
</div>
</div>


</div>

 </div> 
</main>