<div class="pagetitle">
  <h1> {{this.title}}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">{{this.stitle}}</li>
    </ol>

    <div *ngIf="enPannAlert==1" class="alert alert-warning  alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Que peut faire ?</h4>
      <p>la ressource est en <strong>Panne</strong> </p>
      <hr>
      <p class="mb-0">un Technicien va consulter la ressources ,si la panne a regle vous cliquer sur <strong>En
          service</strong></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="enPannAlert==2" class="alert alert-primary alert-dismissible fade show" role="alert">
      <i class="bi bi-star me-1"></i>
      Votre ressource est en service maintenant!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </nav>
</div><!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">les ressources affectes</h5>
          <p>Vous trouverez ci-dessous toutes les ressources affectées à <strong>vous</strong> </p>

          <!-- Table with stripped rows -->
          <table class="table datatable" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Materiel</th>
                <th scope="col">Code a barre</th>
                <th scope="col">Date d'affectation</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materiel of materils;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{materiel.marque}}</td>
                <td>{{materiel.code_barre}}</td>
                <td>{{materiel.date_affectation}}</td>
                <td>{{materiel.materielState}}</td>
                <td *ngIf="materiel.materielState!=='EnPanne';else alternative"> <button class="btn btn-warning"
                    (click)="confirmerPanne(materiel.type+materiel.marque,materiel.id)"
                    title="Signaler panne">
                    <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                  </button></td>
                <ng-template #alternative>
                  <td> <button class="btn btn-primary disabled">
                    <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                  </button></td>

                </ng-template>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>
