<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img class="rounded-circle" [src]="profile.photo ? profile.photo : 'assets/img/inconnu.png'" alt="Profile picture" width="150" height="150">                           
            <h2>{{profile.nom}} {{profile.prenom}}</h2>
            <h3>{{profile.role}}</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nom et Prenom</div>
                  <div class="col-lg-9 col-md-8">{{profile.nom}} {{profile.prenom}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Faculté</div>
                  <div class="col-lg-9 col-md-8">FST FES</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Departement</div>
                    <div class="col-lg-9 col-md-8">{{profile.departement}}</div>
                  </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Job</div>
                  <div class="col-lg-9 col-md-8">{{profile.role}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Pays</div>
                  <div class="col-lg-9 col-md-8">MAROC</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Telephone</div>
                  <div class="col-lg-9 col-md-8">{{profile.telephone}}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form>
                  <div *ngIf="notif == 3" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Profile</strong> modifie avec succes .
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                            <img [src]="imageUrl || profile.photo || 'assets/img/inconnu.png'" alt="Profile picture" width="150" height="150">
                            <div class="pt-2">
                                <label for="fileInput" class="btn btn-primary btn-sm" title="Upload new profile image">
                                    <i class="bi bi-upload"></i>
                                </label>
                                <input type="file" accept="image/*" (change)="onFileSelected($event)" id="fileInput" style="display: none;">
                                <span class="mx-1"></span>
                                <a href="" class="btn btn-danger btn-sm" title="Remove my profile image" (click)="onDeleteImage($event)">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>                    
                  <div class="row mb-3">
                    <label for="login" class="col-md-4 col-lg-3 col-form-label">Login</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="login" type="text" class="form-control" id="login" value="{{profile.login}}" [(ngModel)]="profile.login">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="nom" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="nom" type="text" class="form-control" id="nom" value="{{profile.nom}}" [(ngModel)]="profile.nom">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="prenom" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="prenom" type="text" class="form-control" id="prenom" value="{{profile.prenom}}" [(ngModel)]="profile.prenom">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Faculté</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="company" type="text" class="form-control" id="company" value="FST FES" readonly>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="departement" class="col-md-4 col-lg-3 col-form-label">Departement</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="departement" type="text" class="form-control" id="departement" value="{{profile.departement}}" [(ngModel)]="profile.departement" readonly>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="job" type="text" class="form-control" id="Job" value="{{profile.role}}" [(ngModel)]="profile.role" readonly>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Pays" class="col-md-4 col-lg-3 col-form-label">Pays</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="Pays" type="text" class="form-control" id="Pays" value="MAROC" readonly>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Telephone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="Phone" value="{{profile.telephone}}" [(ngModel)]="profile.telephone">
                    </div>
                  </div>

                  <div class="text-center">
                    <button (click)="editProfile()" class="btn btn-primary" type="submit">
                      Save
                    </button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form>
                  <div *ngIf="notif == 1" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Mot de passe</strong> modifie avec succes .
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
      
                  <div *ngIf="notif == 2" class="alert alert-warning alert-dismissible fade show" role="alert">
                    Mot de passe <strong> incorecte </strong> .
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword" [(ngModel)]="password.currentPassword">
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword" [(ngModel)]="password.newPassword">
                    </div>
                  </div>
                
                  <div class="row mb-3">
                    <label for="matchPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="matchPassword" type="password" class="form-control" id="matchPassword" [(ngModel)]="matchPassword">
                    </div>
                  </div>
                
                  <div *ngIf="password.newPassword !== matchPassword" style="color: #fa0f0f;">Les mots de passe ne correspondent pas.</div>
                
                  <div class="text-center">
                    <button (click)="changePassword()" type="submit" 
                      class="btn btn-primary" [disabled]="password.newPassword !== matchPassword ? true : false">
                      Change Password
                    </button>
                  </div>
                </form>
                
              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>